<!-- <h1>This is Article Detail</h1>-->

<div class="row">
  <div class="col-md-12">
    <!--<h2>{{article.title}}</h2>-->
  </div>
</div>

<div class="row">
  <div class="col-md-12 article-main-image">
    <img src={{article.photo}} alt={{article.title}}>
  </div>
</div>

<div class="article-body">
  <div class="row">
    <div class="col-md-3">
      <blockquote class="article-auth-date">
        <p><h1>{{article.title}}</h1></p>
        <footer><strong>{{article.author}}</strong> <cite>{{moment-format article.date 'll'}}</cite></footer>
      </blockquote>
    </div>
    <div class="col-md-7">
      <p>{{{article.text}}}</p>
    </div>
  </div>
</div>
