<!-- <h1>This is Article Detail</h1>-->
<img src={{article.photo}} alt={{article.title}}>
<h2>{{article.title}}</h2>
<p><i>{{article.author}}, {{moment-format comment.article.date 'll'}}</i></p>
<p>{{article.text}}</p>
