<div class="row">
    <form>
      <div class="col-md-6">
        <!-- Title -->
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">Title</span>
            <!--<input value="title" type="text" class="form-control" id="title" aria-describedby="" placeholder="Article Title">-->
            {{input required="required" value=title placeholder="Title" class="form-control" id="titleInput"}}
          </div>
        </div>

        <!-- Author -->
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">Author</span>
            <!--<input value="author" type="text" class="form-control" id="author" aria-describedby="" placeholder="Author">-->
            {{input value=author placeholder="Author" class="form-control" id="authorInput"}}
          </div>
        </div>
        <!-- Description -->
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">Description</span>
            <!--<input value="author" type="text" class="form-control" id="author" aria-describedby="" placeholder="Author">-->
            {{input value=description placeholder="Description" maxlength="120" class="form-control" id="descriptionInput"}}
          </div>
        </div>
        <!-- Photo Url -->
        <div class="form-group">
          <label for="">Photo Url</label>
          <!--<input value="photo" type="text" class="form-control" id="photo" aria-describedby="" placeholder="http://exampleurl.com/photo">-->
          {{input value=photo placeholder="Photo Url" class="form-control" id="photoInput"}}
        </div>
        <!-- Thumbnail Url -->
        <div class="form-group">
          <label for="">Thumbnail</label>
          <!--<input value="thumbnail" type="text" class="form-control" id="thumbnail" aria-describedby="" placeholder="http://exampleurl.com/thumbnail">-->
          {{input value=thumbnail placeholder="Thumbnail Url" class="form-control" id="thumbnailInput"}}
        </div>
      </div>
      <div class="col-md-6">
        <!-- Text -->
        <div class="form-group">
          <!--<label for="exampleTextarea">Text</label>-->
          <!--{{textarea rows="20" value=text placeholder="Your text here..." class="form-control" id="textInput"}}-->
          {{content-editable value=text placeholder="Your text here..." type="text"}}
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group inline">
          <button {{action 'saveArticle'}} class="btn btn-success">Save</button>
          {{#link-to 'admin-portal'}}<button  class="btn btn-default">Cancel</button>{{/link-to}}
        </div>
      </div>
    </form>
</div>
